<!DOCTYPE html>
<html lang='ja'>
  <head>
    <title>ISUCON10 Portal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="isux:github-auth-path" content="<%= new_github_session_path(back_to: url_for(params.to_unsafe_h.merge(only_path: true))) %>">
    <meta name="isux:discord-auth-path" content="<%= new_discord_session_path(back_to: url_for(params.to_unsafe_h.merge(only_path: true))) %>">
    <meta name="isux:api-base-url" content="/">

    <%- if Rails.application.config.x.sentry.dsn.present? -%>
    <meta name="isux:sentry-dsn" content="<%= Rails.applicaiton.config.x.sentry.dsn %>">
    <%- end -%>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'vendor' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">ISUCON 10 Portal</a>
        </div>
        <div class="navbar-menu is-active">
          <div class="navbar-start">
            <a class="navbar-item" href="/">参加チームリスト</a>
          </div>
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <div class="isux-visibility-user">
                  <%- # TODO: what if after registration close...? -%>
                  <a class="button is-light" href="<%= registration_path %>">登録確認</a>
                  <a class="button is-light" data-method="delete" href="<%= session_path %>">ログアウト</a>
                </div>
                <div class="isux-visibility-guest">
                  <a class="button is-light" href="<%= registration_path %>">参加登録</a>
                  <a class="button is-light" href="/auth/github">ログイン</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <div class="container mt-5">
      <%= yield %>
    </div>
  </body>
</html>
