<!DOCTYPE html>
<html lang='ja'>
  <head>
    <title>ISUCON10 Portal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="isux:github-auth-path" content="<%= new_github_session_path(back_to: url_for(params.to_unsafe_h.merge(only_path: true))) %>">
    <meta name="isux:discord-auth-path" content="<%= new_discord_session_path(back_to: url_for(params.to_unsafe_h.merge(only_path: true))) %>">
    <meta name="isux:api-base-url" content="/">

    <%- if Rails.application.config.x.sentry.dsn.present? -%>
    <meta name="isux:sentry-dsn" content="<%= Rails.application.config.x.sentry.dsn %>">
    <%- end -%>

    <%= stylesheet_link_tag 'https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined', rel: 'stylesheet' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'vendor' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <div id="app"></div>
    <%= yield %>
  </body>
</html>
