<!DOCTYPE html>
<html lang='ja'>
  <head>
    <title>ISUCON10 Portal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="isux:github-auth-path" content="<%= new_github_session_path(back_to: url_for(params.to_unsafe_h.merge(only_path: true))) %>">
    <meta name="isux:discord-auth-path" content="<%= new_discord_session_path(back_to: url_for(params.to_unsafe_h.merge(only_path: true))) %>">
    <meta name="isux:api-base-url" content="/">
    <meta name="isux:release" content="<%= Rails.application.config.x.revision %>">

    <%- if Rails.application.config.x.sentry.dsn.present? -%>
    <meta name="isux:sentry-dsn" content="<%= Rails.application.config.x.sentry.dsn %>">
    <%- end -%>

    <%= stylesheet_link_tag 'https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined&display=block', rel: 'stylesheet' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'vendor' %>
    <%= javascript_pack_tag 'application' %>

    <link rel="shortcut icon" href="/favicon.ico">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
    <link rel="icon" sizes="48x48" href="/icon-48x48.png">
    <link rel="icon" sizes="96x96" href="/icon-96x96.png">
    <link rel="icon" sizes="144x144" href="/icon-144x144.png">
    <link rel="icon" sizes="192x192" href="/icon-192x192.png">
    <link rel="icon" sizes="384x384" href="/icon-384x384.png">
    <link rel="icon" sizes="512x512" href="/icon-512x512.png">

    <meta name="msapplication-square70x70logo" content="/site-tile-70x70.png">
    <meta name="msapplication-square150x150logo" content="/site-tile-150x150.png">
    <meta name="msapplication-square310x310logo" content="/site-tile-310x310.png">
    <meta name="msapplication-wide310x150logo" content="/site-tile-310x150.png">
  </head>

  <body>
    <div id="app"></div>
    <%= yield %>
  </body>
</html>
